# 1. import data

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
plt.style.use({'figure.figsize':(25,20)})

In [22]:
!cd Melbourne_daily_temp/

In [21]:
!cd Melbourne_daily_temp/

/home/lisiw/ML

In [89]:
df = pd.read_csv("Melbourne_daily_temp/data/daily-minimum-temperatures-in-me.csv")

In [36]:
df.head()

         Date Daily minimum temperatures in Melbourne, Australia, 1981-1990
0  1981-01-01                                               20.7
1  1981-01-02                                               17.9
2  1981-01-03                                               18.8
3  1981-01-04                                               14.6
4  1981-01-05                                               15.8

# 2. data clean

In [90]:
df = df.rename(columns={'Daily minimum temperatures in Melbourne, Australia, 1981-1990':'Temp','Date':'Date' })

In [91]:
df['Date']

0       1981-01-01
1       1981-01-02
2       1981-01-03
3       1981-01-04
4       1981-01-05
           ...
3645    1990-12-27
3646    1990-12-28
3647    1990-12-29
3648    1990-12-30
3649    1990-12-31
Name: Date, Length: 3650, dtype: object

In [92]:
df['Date'] = pd.to_datetime(df['Date'])

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3650 entries, 0 to 3649
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3650 non-null   datetime64[ns]
 1   Temp    3650 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 57.2+ KB

In [97]:
df.describe()

/home/lisiw/.conda/envs/ML/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

                       Date  Temp
count                  3650  3650
unique                 3650   230
top     1988-11-05 00:00:00  10.0
freq                      1    51
first   1981-01-01 00:00:00   NaN
last    1990-12-31 00:00:00   NaN

# 3. data virtualizaiton

In [100]:
import pandas_profiling as ppf